name: Docker
on:
  workflow_call: 
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up docker build
        uses: docker/setup-buildx-action@v3.12.0
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          # Server address of Docker registry. If not set then will default to Docker Hub
          registry: # optional
          # Username used to log against the Docker registry
          username: # optional
          # Password or personal access token used to log against the Docker registry
          password: # optional
          # Specifies whether the given registry is ECR (auto, true or false)
          ecr: # optional
          # Log out from the Docker registry at the end of a job
          logout: true # optional, default is true
          # Raw authentication to registries, defined as YAML objects
          registry-auth: # optional
